
.contact-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;
    border-radius: 20px;
    box-shadow: 3px 7px 18px #3768E324;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 250px;

}

.content-left .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.items span {
    color: #315FD8;
    font-size: 40px;
}

.items p{
    color: #45545F;
}


.content-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
    height: 300px;

}
.content-right h2{
    color: #353A4A;
}

.content-right .form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 300px;

}

.form-wrapper .wrappers{
    width: 80%;
    padding-left: 10px;
}

.message-wrapper .mssg{
    width: 100%;
    height: 70px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #E5E5E5;
    box-shadow: 3px 5px 10px #3768E324;
    

}

.form-wrapper input{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #E5E5E5;
    box-shadow: 3px 5px 10px #3768E324;
    color: #45545F;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.buttons{
    width: 150px;
    height: 70px;
    align-content: center;
}

.buttons .btn{
    color: white;
    background-color: #4E26D5;
    padding: 0.8em 0.7em;
    border-radius: 10px;
    border: none;
    transition: all ease-in-out 400ms;
}

.btn:hover{
    padding: 1em 1em;
}

@media screen and (min-width:300px) and (max-width:700px) {
    .contact-wrapper{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        padding: 10px;
    }
    .content-right{
        padding: 5px;
        width: 100%;
    }
    
    .content-left{
        padding: 10px;
        width: 100%;
    }
    .form-wrapper .wrappers{
        padding: 0;
        width: 100%;
    }
    .items span {
        color: #315FD8;
        font-size: 20px;
    }
    .content-right h2{
        align-content: center;
        color: #353A4A;
    }
}