.header{
    margin-top: 20px;
    display: flex;
    height: 50px; 
    position: sticky;
}

.header .navbar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
  gap: 5rem;
}

.items .link{
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5em 0.9em;
    font-size: 20px;

}

.link:hover{
    text-decoration: underline;
    text-decoration-color: crimson;
    text-underline-offset: 1px;
    transition: all ease-in-out 300ms;
}